header {
    width: 100%;
}
article {
    width: 100%;
}
section {
    width: 100%;
}
.container {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    width: 100%;
    margin: 16px auto;
}

.logo {
    width: 30%;
}

.logo img {
    max-width: 100px;
    margin: 30px auto auto;
}

.intro {
    width: 70%;
    margin: 25px auto auto 0;
}

.intro h1 {
    font-family: "Lato", sans-serif;
    font-size: 3.5em;
    font-weight: 100;
    letter-spacing: 2px;
}

.intro h4 {
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}

.break {
    margin: 5px auto 15px;
}

.break-hr{
    width: 100%;
}

.break hr {
    border: 2px solid #7d97ad;
    margin: 0;
}

.main-img {
    min-width: 100%;
}

.section-header {
    margin-left: 25px;
}

.section-header p {
    font-family: "Lato", sans-serif;
    font-size: 2.2em;
    font-weight: 400;
    letter-spacing: 1px;
    color: #7d97ad;
    margin: 10px auto 0;
}

.work-portfolio {
    margin-top: 0;
    margin-bottom: 50px;
}

.works {
    width: 33.3%;
    text-align: center;
}

.works img {
    object-fit: contain;
}

.works h3 {
    font-size: 2.4em;
}

.work-info a {
    color: #2d3c49;
}

.hyperlink {
    font-size: 1.2em;
    text-align: center;
    color: #2d3c49;
    border: solid 3px #2d3c49;
    padding: 10px;
    width: 80%;
    margin: auto auto;
}

.hyperlink a:hover {
    color: #02b3e4;
    text-decoration: none;
}

.hyperlink:hover {
    font-size: 1.1em;
    border: solid 4px #02b3e4;
}

@media screen and (max-width: 1000px) {
    .work-portfolio {
        display: block;
    }

    .works {
        display: flex;
        width: 100%;
        margin-bottom: 25px;
    }

    .works img{
        display: block;
        width: 400px;
        height: 300px;
    }

    .work-info {
        display: block;
        width: 45%;
        margin-top: 70px;
        margin-left: 30px;
        text-align: left;
    }

    .hyperlink {
        font-size: 1.3em;
        text-align: left;
        margin: auto 0;
    }

    .hyperlink:hover {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 730px) {
    .section-header {
        margin: auto;
        text-align: center;
        display: inline-block;
    }

    .section-header p {
        font-size: 2.5em;
    }

    .works {
        width: 100%;
        display: block;
        margin: 0 auto 30px;
    }

    .works img {
        margin: auto;
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .work-info {
        margin: 15px auto 40px;
        width: 100%;
        display: block;
        text-align: center;
    }

    .work-info h3 {
        font-size: 2.8em;
        margin-bottom: 8px;
    }

    .hyperlink {
        font-size: 1.5em;
        text-align: center;
        margin: auto auto;
    }

    .hyperlink:hover {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 550px) {
    .logo img {
        max-width: 60px;
        margin-top: 47px;
    }

    .intro h1 {
        font-size: 2.8em;
    }

    .intro h4 {
        font-size: 1em;
    }
}
